ScalingXofPointCloud = 35
ScalingYofPointCloud = 35
ScalingZofPointCloud = 80
OffsetInDepth = 300
SLMpixelPitchX = 0.000462
SLMpixelPitchY = 0.000462
SLMpixelNumX = 852
SLMpixelNumY = 852
BandpassFilterShape = circle
BandpassFilterWidthX = 5
BandpassFilterWidthY = 3
FocalLengthofInputLens = 100
FocalLengthofOutputLens = 200
FocalLengthofEyepieceLens = 75
WavelengthofLaser = 0.000660
TiltAngleX = 22.5
TiltAngleY = 22.5
