ScalingXofPointCloud = 0.05
ScalingYofPointCloud = 0.05
ScalingZofPointCloud = 0.05
OffsetInDepth = 0.06
SLMpixelPitchX = 0.000000462
SLMpixelPitchY = 0.000000462
SLMpixelNumX = 4096
SLMpixelNumY = 2160
BandpassFilterShape = circle
BandpassFilterWidthX = 5
BandpassFilterWidthY = 3
FocalLengthofInputLens = 200
FocalLengthofOutputLens = 200
FocalLengthofEyepieceLens = 75
WavelengthofLaser = 0.000000532
TiltAngleX = 22.5
TiltAngleY = 22.5
